<!-- templates/base.html (do not remove this comment)-->
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="static\assets\logo.ico" type="image/x-icon" />
		<title>{% block title %}Base{% endblock %}</title>
		<!-- CDNs. Do not remove any -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
			integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
			crossorigin="anonymous" />
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
			integrity="sha384-4LISF5TTJX/fLmGSxO53rV4miRxdg84mZsxmO8Rx5jGtp/LbrixFETvWa5a6sESd"
			crossorigin="anonymous" />
	</head>

	<body>
		<!-- Navbar 1-->
		<nav class="navbar" style="background-color: #42aec5">
			<div class="container-fluid">
				<div class="row align-items-center">
					<div class="col d-flex justify-content-center align-items-center">
						<img src="static/assets/brand.png" alt="Logo" class="d-inline-block align-middle" style="max-width: 25%; height: auto" />
					</div>
					<div class="col d-flex justify-content-center">
						{% set current_hour = now.hour %} {% if current_hour >= 0 and current_hour < 12 %}
						<strong style="font-size: 1.5rem">Good Morning!</strong>
						{% elif current_hour >= 12 and current_hour < 18 %}
						<strong style="font-size: 1.5rem">Good Afternoon!</strong>
						{% else %}
						<strong style="font-size: 1.5rem">Good Evening!</strong>
						{% endif %}
					</div>
					<div class="col text-center d-none d-md-block">
						<p class="mb-0">17/F Highstreet South Corp. Plaza Tower 2, BGC</p>
						<p class="mb-0">Monday – Sunday: 9:00 AM - 5:00 PM</p>
					</div>
				</div>
			</div>
		</nav>

		<!-- Navbar 2-->
		<nav class="navbar navbar-expand-md" style="background-color: #bfffff">
			<div class="container-fluid">
				<div class="navbar-nav mx-auto">
					<a class="nav-link" href="/admin_bookings">
					<a class="nav-link" href="/logout">
						<button
							class="btn"
							style="background-color: transparent; border: none; color: inherit; box-shadow: none"
							onmouseover="this.style.backgroundColor='#2ecce6'; this.style.color='white'; this.style.boxShadow='0rem 0rem 0.625rem rgba(0, 0, 0, 0.5)';"
							onmouseout="this.style.backgroundColor='transparent'; this.style.color='inherit'; this.style.boxShadow='none';">
							Logout
						</button>
					</a>
				</div>
			</div>
		</nav>

		<!-- Content Section -->
		<div class="container-fluid">{% block content %}{% endblock %}</div>

		<!-- Footer section -->
		<footer class="bg-dark text-white py-5" style="margin-top: auto">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<h5>Contact Us</h5>
						<p>Address:<br />17/F Highstreet South Corporate Plaza Tower 2 26th St. corner 11th St. Bonifacio Global City, Taguig, Philippines</p>
						<p>
							<a href="https://www.facebook.com/mrstidycleans" class="text-white me-3"><i class="bi bi-facebook"></i></a>
							<a href="https://www.instagram.com/mrstidy_cleaningservices/" class="text-white"><i class="bi bi-instagram"></i></a>
						</p>
					</div>
					<div class="col-md-6">
						<h5>&nbsp;</h5>
						<!-- Adding an empty heading to maintain alignment -->
						<p>
							Phone:<br />Anna: 0977-064-0278 <br />
							Adrian: 0981-015-0382
						</p>
						<p>Email: mrstidycleans@gmail.com</p>
					</div>
				</div>
			</div>
		</footer>

		<!-- Additional CDNs. Do not remove. -->
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
			integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
			crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js"></script>
		<script src="https://kit.fontawesome.com/0aec8ea5b0.js" crossorigin="anonymous"></script>
	</body>
</html>
